/* aula02_ex01.css */
*{
	margin: 0;
	padding: 0;
}

body{
	
}

#topo{
	width: 100%;
	height: 150px;
	background: #efefef;
	text-align: center;
}

#corpo{
	width: 100%;
	height: 700px;
}

.caixa{
	float: left;
	width: 33%;
	height: 150px;
	border: 1px solid #ccc;
	text-align: center;
}